* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url("bgr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  display: flex;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
  flex-direction: column;
}

/*--------input-------------*/
header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #ae7765;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

/*------------main styles---------*/
main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #fff;
  font-size: 16px;
}

.current .temp {
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

/*--------Forecast-Wrap-------*/

.forecast-wrap {
  display: flex;
  background-color: #88452896;
}

.forecast-wrap main {
  transition: 0.5s;
  padding: 30px 15px;
}

.forecast-wrap main:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.forecast-wrap .location .date {
  color: #fff;
  font-size: 14px;
}

.forecast-wrap .current .temp {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.forecast-wrap .current .temp span {
  font-weight: 500;
}

.forecast-wrap .current .weather {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.forecast-wrap .weather {
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .forecast-wrap {
    flex-direction: column;
  }
}
